<form [formGroup]="form" (ngSubmit)="save($event)">
  <div formGroupName="fullName">
    <mat-form-field appearance="fill">
      <mat-label>Name: {{ nameField.value }}</mat-label>
      <input matInput type="text" formControlName="name" />
      <mat-icon matSuffix *ngIf="isNameFieldValid">done</mat-icon>
      <mat-icon matSuffix *ngIf="isNameFieldInvalid">close</mat-icon>
      <mat-error *ngIf="nameField.hasError('required')">
        Este campo es requerido
      </mat-error>

      <mat-error *ngIf="nameField.hasError('maxlength')">
        Debe tener máximo 10 caracteres
      </mat-error>

      <mat-error *ngIf="nameField.hasError('pattern')">
        No debe tener simbolos
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Last Name: {{ lastField.value }}</mat-label>
      <input matInput type="text" formControlName="last" />
      <mat-error *ngIf="nameField.hasError('required')">
        Este campo es requerido
      </mat-error>

      <mat-error *ngIf="nameField.hasError('maxlength')">
        Debe tener máximo 10 caracteres
      </mat-error>

      <mat-error *ngIf="nameField.hasError('pattern')">
        No debe tener simbolos
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Email: {{ emailField.value }}</mat-label>
    <input matInput type="email" formControlName="email" />
    <mat-error *ngIf="emailField.hasError('required')">
      Este campo es requerido
    </mat-error>
    <mat-error *ngIf="emailField.touched && emailField.hasError('email')">
      Este no es un correo válido
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Phone: {{ phoneField.value }}</mat-label>
    <input matInput type="tel" formControlName="phone" />
    <mat-error *ngIf="phoneField.touched && phoneField.hasError('required')">
      Este campo es requerido
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Color: {{ colorField.value }}</mat-label>
    <input matInput type="color" formControlName="color" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Date: {{ dateField.value }}</mat-label>
    <input matInput type="date" formControlName="date" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Age: {{ ageField.value }}</mat-label>
    <input matInput type="number" formControlName="age" />
    <mat-error *ngIf="ageField.hasError('required')">
      Este campo es requerido
    </mat-error>
    <mat-error *ngIf="ageField.hasError('min')">
      Debe ser mayor de edad
    </mat-error>
    <mat-error *ngIf="ageField.hasError('max')">
      Debe ser menor de 100 años
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select>
      <mat-option value="category-1">Category 1</mat-option>
      <mat-option value="category-2">Category 2</mat-option>
      <mat-option value="category-3">Category 3</mat-option>
      <mat-option value="category-4">Category 4</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Tags</mat-label>
    <mat-select>
      <mat-option value="tag-1">Tag 1</mat-option>
      <mat-option value="tag-2">Tag 2</mat-option>
      <mat-option value="tag-3">Tag 3</mat-option>
      <mat-option value="tag-4">Tag 4</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox labelPosition="before"> Agree </mat-checkbox>

  <p class="messages" [class.active]="agreeField.touched && agreeField.invalid">
    <mat-error *ngIf="agreeField.hasError('required')">
      Debe aceptar los terminos y condiciones
    </mat-error>
  </p>

  <p>
    Gender: {{ genderField.value }}
    <label>
      <input name="gender" value="male" type="radio" formControlName="gender" />
      Male
    </label>
    <label>
      <input
        name="gender"
        value="female"
        type="radio"
        formControlName="gender"
      />
      Female
    </label>
    <label>
      <input
        name="gender"
        value="other"
        type="radio"
        formControlName="gender"
      />
      Other
    </label>
  </p>
  <p>
    Zone: {{ zoneField.value }}
    <label>
      <input name="zone" value="zone-1" type="radio" formControlName="zone" />
      Zona 1
    </label>
    <label>
      <input name="zone" value="zone-2" type="radio" formControlName="zone" />
      Zona 2
    </label>
    <label>
      <input name="zone" value="zone-3" type="radio" formControlName="zone" />
      Zona 3
    </label>
  </p>
  <p>
    <button type="submit">Enviar</button>
  </p>
</form>
